*{
	font-family: Verdana, arial, sans-serif;
}

body {
	background-color: rgb(190, 111, 255);
	}

header, aside, footer, article {
	display: block;
	}

header, footer {
	background-color: rgb(160, 87, 255);
	padding: 5px;
	}

header {
	background-image: url("../afbeeldingen/hoofd.jpg");
	margin-top: -8px;
	text-align: center;
	padding-top: 80px;
	color: rgb(255, 80, 211);
	}
	
h1 {
	font-size: 90px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color:blanchedalmond
	}
aside {
	float: right;
	width: 20%;
	background-color: rgb(255, 68, 143);
	padding: 20px;
	margin-top: -30px;
	margin-right: 10px;
	}

article {
	float: left;
	width: 70%;
	margin: 10px;
	margin-left: 0px;
	padding: 10px;
	background-color: #ff385d;	/*lichtgrijs*/
	color:aliceblue
	}
	
footer {
	clear: both;
	text-align: center;
	color:aquamarine
	}

p {
	font-style: normal;
	font-weight: 200;
	margin: 10px;
}
p.inleiding {
	font-style: italic;
	font-weight: bold;
}
p.citaat {
	font-style: italic;
}